template/n8n.json
{
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Witam, jestem Zosia - Twój wirtualny asystent z Hotelu Smile.\nJakie jest hasło do WiFi? Wpisz 1\nJakie są godziny śniadań? Wpisz 2\nJaka jest oferta SPA? Wpisz 3",
        "options": {
          "allowedOrigins": "*",
          "inputPlaceholder": "Zadaj pytanie",
          "subtitle": "Wirtualny agent odpowiada na pytania odnośnie samego hotelu, basenu, Spa jak również tego co można robić w okolicy.",
          "title": "Witamy w Hotelu Smile! 👋",
          "customCss": ":root {\n  /* Hotel Smile Beige Color Palette */\n  --chat--color-primary: #D4A574; /* Warm beige-brown */\n  --chat--color-primary-shade-50: #C89A68; /* Medium beige */\n  --chat--color-primary-shade-100: #B8855A; /* Darker beige */\n  --chat--color-secondary: #8B7355; /* Muted brown-beige */\n  --chat--color-secondary-shade-50: #9D8066;\n  --chat--color-white: #fefefe;\n  --chat--color-light: #f9f7f4; /* Warm off-white */\n  --chat--color-light-shade-50: #f2ede6; /* Light beige */\n  --chat--color-light-shade-100: #ebe3d8; /* Soft beige */\n  --chat--color-medium: #a39080; /* Medium beige-gray */\n  --chat--color-dark: #4a3f36; /* Dark brown */\n  --chat--color-disabled: #c4b8a8; /* Muted beige */\n  --chat--color-typing: #6b5d50; /* Warm brown */\n  --chat--color-accent: #E6C79C; /* Cream beige accent */\n\n  /* Układ bazowy */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.375rem;\n  --chat--transition-duration: 0.15s;\n  --chat--font-family: 'Roboto', 'Arial', sans-serif;\n\n  /* Wymiary okna */\n  --chat--window--width: 400px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Nagłówek */\n  --chat--header-height: auto;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: linear-gradient(135deg, var(--chat--color-primary) 0%, var(--chat--color-accent) 100%);\n  --chat--header--color: var(--chat--color-white);\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: none;\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 1.5em;\n  --chat--subtitle--font-size: 0.9em;\n  --chat--subtitle--line-height: 1.6;\n\n  /* Wiadomości */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: var(--chat--spacing);\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: calc(var(--chat--spacing) * 1);\n  --chat--message--bot--background: var(--chat--color-light-shade-50);\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--bot--border: 1px solid var(--chat--color-light-shade-100);\n  --chat--message--user--background: linear-gradient(135deg, var(--chat--color-primary) 0%, var(--chat--color-accent) 100%);\n  --chat--message--user--color: var(--chat--color-dark);\n  --chat--message--user--border: none;\n  --chat--message--pre--background: rgba(0, 0, 0, 0.05);\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Przycisk przełączania */\n  --chat--toggle--size: 64px;\n  --chat--toggle--width: var(--chat--toggle--size);\n  --chat--toggle--height: var(--chat--toggle--size);\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: linear-gradient(135deg, var(--chat--color-primary) 0%, var(--chat--color-accent) 100%);\n  --chat--toggle--hover--background: var(--chat--color-primary-shade-50);\n  --chat--toggle--active--background: var(--chat--color-primary-shade-100);\n  --chat--toggle--color: var(--chat--color-white);\n\n  /* Obszar wejściowy */\n  --chat--textarea--height: 50px;\n  --chat--textarea--max-height: 30rem;\n  --chat--input--font-size: inherit;\n  --chat--input--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--input--border-radius: var(--chat--border-radius);\n  --chat--input--padding: 0.8rem;\n  --chat--input--background: var(--chat--color-light-shade-50);\n  --chat--input--text-color: var(--chat--color-dark);\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: var(--chat--input--font-size);\n  --chat--input--border-active: 2px solid var(--chat--color-primary);\n  --chat--input--left--panel--width: 2rem;\n\n  /* Przycisk */\n  --chat--button--color: var(--chat--color-white);\n  --chat--button--background: var(--chat--color-primary);\n  --chat--button--padding: calc(var(--chat--spacing) * 0.5) var(--chat--spacing);\n  --chat--button--border-radius: var(--chat--border-radius);\n  --chat--button--hover--color: var(--chat--color-white);\n  --chat--button--hover--background: var(--chat--color-primary-shade-50);\n  --chat--close--button--color-hover: var(--chat--color-primary);\n\n  /* Przycisk wysyłania i pliku */\n  --chat--input--send--button--background: var(--chat--color-primary);\n  --chat--input--send--button--color: var(--chat--color-white);\n  --chat--input--send--button--background-hover: var(--chat--color-primary-shade-50);\n  --chat--input--send--button--color-hover: var(--chat--color-white);\n  --chat--input--file--button--background: var(--chat--color-light-shade-100);\n  --chat--input--file--button--color: var(--chat--color-medium);\n  --chat--input--file--button--background-hover: var(--chat--color-light-shade-50);\n  --chat--input--file--button--color-hover: var(--chat--color-primary);\n  --chat--files-spacing: 0.25rem;\n\n  /* Ciało i stopka */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n/* Stylizacja wiadomości */\n.chat-message {\n  max-width: 50%;\n  font-family: 'Roboto', 'Arial', sans-serif;\n  font-size: var(--chat--message--font-size);\n  line-height: var(--chat--message-line-height);\n  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);\n  transition: all var(--chat--transition-duration) ease;\n}\n\n.chat-message:hover {\n  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n}\n\n/* Ensure both user and bot messages have consistent typography */\n.chat-message--user,\n.chat-message--bot {\n  font-family: var(--chat--font-family);\n  font-size: var(--chat--message--font-size);\n  line-height: var(--chat--message-line-height);\n  font-weight: 400;\n}\n\n/* Hotel Smile Logo Integration - Top Right Corner */\n.chat-header {\n  position: relative;\n  background: linear-gradient(135deg, var(--chat--color-primary) 0%, var(--chat--color-accent) 100%);\n  border-radius: var(--chat--border-radius) var(--chat--border-radius) 0 0;\n  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n  min-height: 60px; /* Ensure enough space for logo */\n}\n\n.chat-header::after {\n  content: '';\n  background-image: url('https://hotelsmile.pl/resources/assets/images/logo.png');\n  background-size: contain;\n  background-repeat: no-repeat;\n  background-position: center;\n  position: absolute;\n  top: 12px;\n  right: 20px;\n  width: 100px;\n  height: 40px;\n  filter: brightness(0) invert(1); /* Makes logo white */\n  z-index: 10;\n}\n\n/* Mobile responsive adjustments */\n@media (max-width: 480px) {\n  .chat-header {\n    min-height: 70px; /* More space on mobile */\n  }\n  \n  .chat-header::after {\n    top: 15px;\n    right: 15px;\n    width: 90px;\n    height: 36px;\n  }\n  \n  .chat-title {\n    padding-right: 100px; /* More space for logo on mobile */\n    font-size: 1.3em;\n  }\n  \n  .chat-subtitle {\n    padding-right: 100px;\n    font-size: 0.85em;\n  }\n  \n  /* Adjust chat window for mobile */\n  :root {\n    --chat--window--width: 95vw;\n    --chat--window--height: 85vh;\n    --chat--window--bottom: 10px;\n    --chat--window--right: 10px;\n  }\n}\n\n/* Enhanced chat window styling */\n.chat-window {\n  box-shadow: 0 8px 32px rgba(180, 133, 90, 0.15);\n  border: 1px solid var(--chat--color-light-shade-100);\n  background: var(--chat--color-light);\n  overflow: hidden;\n}\n\n/* Typing indicator styling */\n.chat-typing-indicator {\n  color: var(--chat--color-typing);\n  font-style: italic;\n  opacity: 0.8;\n}\n\n/* Scrollbar styling */\n.chat-messages::-webkit-scrollbar {\n  width: 6px;\n}\n\n.chat-messages::-webkit-scrollbar-track {\n  background: var(--chat--color-light);\n}\n\n.chat-messages::-webkit-scrollbar-thumb {\n  background: var(--chat--color-medium);\n  border-radius: 3px;\n}\n\n.chat-messages::-webkit-scrollbar-thumb:hover {\n  background: var(--chat--color-primary);\n}\n\n/* Enhanced input focus state */\n.chat-input:focus {\n  outline: none;\n  border-color: var(--chat--color-primary);\n  background: var(--chat--color-white);\n  box-shadow: 0 0 0 3px rgba(212, 165, 116, 0.15);\n}\n\n/* Button animations */\n.chat-button {\n  transition: all var(--chat--transition-duration) ease;\n  position: relative;\n  overflow: hidden;\n  background: var(--chat--color-primary);\n  border: 1px solid var(--chat--color-primary-shade-50);\n}\n\n.chat-button:hover {\n  transform: translateY(-1px);\n  box-shadow: 0 4px 8px rgba(212, 165, 116, 0.25);\n}\n\n.chat-button:active {\n  transform: translateY(0);\n}\n\n/* Hotel branding enhancements */\n.chat-title {\n  font-weight: 600;\n  text-shadow: 0 1px 2px rgba(74, 63, 54, 0.2);\n  padding-right: 110px; /* Make space for larger logo */\n}\n\n.chat-subtitle {\n  opacity: 0.9;\n  font-weight: 400;\n  padding-right: 110px; /* Make space for larger logo */\n}\n\n.menu-cards {\n  display: grid;\n  grid-template-columns: repeat(2, 1fr);\n  gap: 10px;\n  margin-top: 15px;\n}\n\n.menu-card {\n  background: var(--chat--color-light-shade-50);\n  border: 1px solid var(--chat--color-light-shade-100);\n  border-radius: var(--chat--border-radius);\n  padding: 15px 10px;\n  text-align: center;\n  cursor: pointer;\n  transition: all var(--chat--transition-duration) ease;\n  font-size: 0.9em;\n}\n\n.menu-card:hover {\n  background: var(--chat--color-accent);\n  border-color: var(--chat--color-primary);\n  transform: translateY(-2px);\n  box-shadow: 0 4px 8px rgba(212, 165, 116, 0.2);\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1020,
        700
      ],
      "id": "d0f6794c-1695-47a7-a342-dde6c25275d2",
      "name": "When chat message received",
      "webhookId": "03174380-d791-4b95-a178-4c8d5bec7916"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        20,
        1040
      ],
      "id": "dbf01ac4-fc1a-4daf-86ff-1cc5ab2f98a5",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "XXUnCY4goJa7snmm",
          "name": "hotel smile testing"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        1040
      ],
      "id": "4d4635af-cb77-4964-97ec-d72d9c0c3660",
      "name": "Window Buffer Memory2"
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"recipient\": {\n    \"id\": $('When chat message received').first().json.sessionId\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"language\" : $('When chat message received').first().json.language,\n        \"text\": $('Guest service1').first().json.output,\n        \"buttons\": \n          $input.first().json.message.content.result.map(\n            function(item) { return { \"type\": \"postback\", \"title\": item.title,\"payload\": item.payload }}\n          )\n        \n      }\n    }\n  }\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        700
      ],
      "id": "4342814d-f415-4e03-832d-3321cd6f78d5",
      "name": "Build final response1"
    },
    {
      "parameters": {
        "url": "https://cloud.langfuse.com/api/public/v2/prompts/guest-service",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        700
      ],
      "id": "e246c048-6fce-45e0-9d7f-afaf719e5864",
      "name": "guest-service-prompt",
      "retryOnFail": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "efD0EhERO7T5Zyjk",
          "name": "langfuse hotel agent"
        }
      }
    },
    {
      "parameters": {
        "url": "https://cloud.langfuse.com/api/public/v2/prompts/buttons",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        700
      ],
      "id": "705c3993-71fd-40bd-b80c-d386b1af44a8",
      "name": "buttons-prompt",
      "retryOnFail": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "efD0EhERO7T5Zyjk",
          "name": "langfuse hotel agent"
        }
      }
    },
    {
      "parameters": {
        "url": "https://cloud.langfuse.com/api/public/v2/prompts/knowledge-base-tool",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        700
      ],
      "id": "4098f922-8ce9-484a-9b71-a0f046302c74",
      "name": "knowledge-base-tool-prompt",
      "retryOnFail": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "efD0EhERO7T5Zyjk",
          "name": "langfuse hotel agent"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "824ee1c2-2ca9-444e-9d3e-7b62a321b61b",
              "name": "knowledge-base-tool-prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "60898a9d-889e-4e77-b67a-0b20336c1667",
              "name": "guest-service-prompt",
              "value": "={{ $('guest-service-prompt').item.json.prompt }}",
              "type": "string"
            },
            {
              "id": "8bc9b2ec-eed3-4100-96cb-83bdf9dabccb",
              "name": "buttons-prompt",
              "value": "={{ $('buttons-prompt').item.json.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        700
      ],
      "id": "a0344b0f-84c5-46cd-86a6-b39fe4c99560",
      "name": "AgentsSetup"
    },
    {
      "parameters": {
        "content": "## Optimization no1",
        "height": 560,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        620
      ],
      "id": "c6399635-2778-47cc-b392-7c5f8435052a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "={{ $('AgentsSetup').item.json['knowledge-base-tool-prompt'] }}",
        "documentId": {
          "__rl": true,
          "value": "1lx-s6rxPGn4IKgFQk7vrtO4nDH0diHE1dr04u8b6dx4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        440,
        1040
      ],
      "id": "72a94cc1-8c02-49d1-9190-10c257134bc9",
      "name": "Knowledge base1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WVQcGZYC3RdxHa5y",
          "name": "Demo account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Hotel Service Request Tool\nEnables sending service requests for additional services to Hotel Smile. DO NOT use it for spa relates reservations. This is the only method for accepting orders other than direct phone calls to the hotel reception. Never confirm order acceptance unless you successfully use this tool.\nRequired parameters:\n\"Requested_Service\" - One of the additional services or massages. Ensure the requested service is on the list of additional services or massage/spa services. Do not accept other items. Ask the user for clarification if needed.\n\"Guest_Information\" - Data identifying the guest (1 of 2 required): either email address from the reservation OR (room number + guest surname). Always ask for both pieces of information and remember them for future orders.\n\"Preferred_Time\" - Preferred service date and time in DD:MM HH:MM format (e.g., \"25:06 14:30\" for June 25th at 2:30 PM). Always ask the guest for their preferred service time. Note that user can provide this time in different format.\n\"Comments\" - Optional field for additional customer comments or special requests.\nProcess Guidelines:\n\nCollect all necessary information from the user before using this tool\nEverything except \"Comments\" is mandatory, including the preferred service time\nAlways ask for the preferred date and time\nBefore sending, always verify that all data is correct, including the time format\nAllow the customer to add additional comments or modify the preferred time\nCritical step: Always verify the complete order (service, guest info, time, comments) before sending the email\nConfirm that the request has been sent to reception, informing the guest that reception will contact them if there are any issues with service delivery or scheduling\n\nTime Format Examples:\n\n\"23:06 10:00\" (June 23rd at 10:00 AM)\n\"24:06 15:30\" (June 24th at 3:30 PM)\n\"25:06 09:15\" (June 25th at 9:15 AM)",
        "sendTo": "=ai.agent.logs+hotelsmile@pragmaticcoders.com,biuro@hotelsmile.pl",
        "subject": "Request Oferty Specjalnej",
        "message": "=Usługa: {{ $fromAI('Zamawiana_usluga', ``, 'string') }}<br>\nZamawiający: {{ $fromAI('Zamawiajacy', ``, 'string') }}<br>\nKomentarz: {{ $fromAI('Komentarz', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        300,
        1040
      ],
      "id": "cac3f177-e4bb-477a-a1dc-c14346439d5e",
      "name": "Send email1",
      "webhookId": "e4ef2597-7da3-4efb-8ddb-4bd19d53bc45",
      "credentials": {
        "gmailOAuth2": {
          "id": "zQR1kfJSlFUEKlGH",
          "name": "Demo account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "={{ $json['guest-service-prompt'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        180,
        700
      ],
      "id": "81d61b9a-e0a8-4e0b-9322-6fbc9443e07d",
      "name": "Guest service1",
      "retryOnFail": true,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('buttons-prompt').item.json.prompt }}",
              "role": "system"
            },
            {
              "content": "=USER:  {{ $('When chat message received').item.json.message }} {{\"\\n\"}}\nSERVICE: {{ $json.output }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        520,
        700
      ],
      "id": "3b487d15-71ec-421d-84bd-1391e15a9731",
      "name": "Quick actions1",
      "credentials": {
        "openAiApi": {
          "id": "XXUnCY4goJa7snmm",
          "name": "hotel smile testing"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "guest-service-prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Guest service1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory2": {
      "ai_memory": [
        [
          {
            "node": "Guest service1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "guest-service-prompt": {
      "main": [
        [
          {
            "node": "buttons-prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buttons-prompt": {
      "main": [
        [
          {
            "node": "knowledge-base-tool-prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "knowledge-base-tool-prompt": {
      "main": [
        [
          {
            "node": "AgentsSetup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgentsSetup": {
      "main": [
        [
          {
            "node": "Guest service1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge base1": {
      "ai_tool": [
        [
          {
            "node": "Guest service1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send email1": {
      "ai_tool": [
        [
          {
            "node": "Guest service1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Guest service1": {
      "main": [
        [
          {
            "node": "Quick actions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quick actions1": {
      "main": [
        [
          {
            "node": "Build final response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8cb0736547c88e65d85c929ba41a24806cc2eed51bd70aa5b560ce320606da6d"
  }
}